// <copyright file="CustomerController.cs" company="APIMatic">
// ShellDataReportingAPIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using APIMatic.Core.Utilities.Date.Xml;
using Newtonsoft.Json.Converters;
using ShellDataReportingAPIs.Standard;
using ShellDataReportingAPIs.Standard.Exceptions;
using ShellDataReportingAPIs.Standard.Http.Client;
using ShellDataReportingAPIs.Standard.Utilities;
using System.Net.Http;

namespace ShellDataReportingAPIs.Standard.Controllers
{
    /// <summary>
    /// CustomerController.
    /// </summary>
    public class CustomerController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="CustomerController"/> class.
        /// </summary>
        internal CustomerController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This operation allows querying the user data of the logged in user.
        /// This operation should be called only after successful authentication of the end user in client application. This operation will return the user access details such as payers and/or accounts. .
        /// This operation will also validate that logged in user has access to the requested operation, on failure it will return HasAPIAccess flag as false in the response. .
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.LoggedInUserRes response from the API call.</returns>
        public Models.LoggedInUserRes UserLoggedinuser(
                string requestId,
                Models.LoggedInUserReq body)
            => CoreHelper.RunTask(UserLoggedinuserAsync(requestId, body));

        /// <summary>
        /// This operation allows querying the user data of the logged in user.
        /// This operation should be called only after successful authentication of the end user in client application. This operation will return the user access details such as payers and/or accounts. .
        /// This operation will also validate that logged in user has access to the requested operation, on failure it will return HasAPIAccess flag as false in the response. .
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.LoggedInUserRes response from the API call.</returns>
        public async Task<Models.LoggedInUserRes> UserLoggedinuserAsync(
                string requestId,
                Models.LoggedInUserReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LoggedInUserRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/user-management/v1/loggedinuser")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying the payer accounts details from the Shell Cards.
        /// Platform. It provides flexible search criteria for searching payer.
        /// information and supports paging. .
        /// Paging is applicable only when all the.
        /// payers passed in the input are from the same ColCo. .
        /// However, paging will.
        /// be ignored and the API will return all the matching data by merging the.
        /// data queried from each ColCo when payers passed in the input are from.
        /// multiple ColCos.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.PayerRes response from the API call.</returns>
        public Models.PayerRes Customerpayers(
                string requestId,
                Models.PayerReq body)
            => CoreHelper.RunTask(CustomerpayersAsync(requestId, body));

        /// <summary>
        /// This API allows querying the payer accounts details from the Shell Cards.
        /// Platform. It provides flexible search criteria for searching payer.
        /// information and supports paging. .
        /// Paging is applicable only when all the.
        /// payers passed in the input are from the same ColCo. .
        /// However, paging will.
        /// be ignored and the API will return all the matching data by merging the.
        /// data queried from each ColCo when payers passed in the input are from.
        /// multiple ColCos.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.PayerRes response from the API call.</returns>
        public async Task<Models.PayerRes> CustomerpayersAsync(
                string requestId,
                Models.PayerReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PayerRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/payers")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying the card delivery addresses of a given account from the Shell Cards Platform. Only active delivery addresses will be returned.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.CustomerRes response from the API call.</returns>
        public Models.CustomerRes Customerdetail(
                string requestId,
                Models.CustomerReq body)
            => CoreHelper.RunTask(CustomerdetailAsync(requestId, body));

        /// <summary>
        /// This API allows querying the card delivery addresses of a given account from the Shell Cards Platform. Only active delivery addresses will be returned.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.CustomerRes response from the API call.</returns>
        public async Task<Models.CustomerRes> CustomerdetailAsync(
                string requestId,
                Models.CustomerReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CustomerRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/customer")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying the customer account details from the Shell Cards Platform. It provides a flexible search criterion and supports pagination.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.AccountRes response from the API call.</returns>
        public Models.AccountRes PostCardAccounts(
                string requestId,
                Models.AccountReq body)
            => CoreHelper.RunTask(PostCardAccountsAsync(requestId, body));

        /// <summary>
        /// This API allows querying the customer account details from the Shell Cards Platform. It provides a flexible search criterion and supports pagination.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.AccountRes response from the API call.</returns>
        public async Task<Models.AccountRes> PostCardAccountsAsync(
                string requestId,
                Models.AccountReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AccountRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/accounts")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API provides allows querying the active card types that are associated to the given account. .
        ///  .
        /// The API returns the card type configurations, purchase categories associated with the card type and the card type restriction limits.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.CardTypeRes response from the API call.</returns>
        public Models.CardTypeRes Customercardtypev(
                string requestId,
                Models.CardTypeReq body)
            => CoreHelper.RunTask(CustomercardtypevAsync(requestId, body));

        /// <summary>
        /// This API provides allows querying the active card types that are associated to the given account. .
        ///  .
        /// The API returns the card type configurations, purchase categories associated with the card type and the card type restriction limits.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.CardTypeRes response from the API call.</returns>
        public async Task<Models.CardTypeRes> CustomercardtypevAsync(
                string requestId,
                Models.CardTypeReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CardTypeRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/cardtype")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying the card group details from the Shell Cards.
        /// Platform. It provides flexible search criteria and supports paging. .
        /// When the account is not passed in the input and card group type is configured as.
        /// â€˜Verticalâ€™ in the cards platform, this API will return all card groups from .
        /// the payer as well as from all the accounts under the payer. .
        /// When the account is not passed in the input and card group type is configured as.
        /// â€˜Horizontalâ€™ in cards platform, this API will return all card groups.
        /// configured directly under the payer.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.CardGroupRes response from the API call.</returns>
        public Models.CardGroupRes Cardgroups(
                string requestId,
                Models.CardGroupReq body)
            => CoreHelper.RunTask(CardgroupsAsync(requestId, body));

        /// <summary>
        /// This API allows querying the card group details from the Shell Cards.
        /// Platform. It provides flexible search criteria and supports paging. .
        /// When the account is not passed in the input and card group type is configured as.
        /// â€˜Verticalâ€™ in the cards platform, this API will return all card groups from .
        /// the payer as well as from all the accounts under the payer. .
        /// When the account is not passed in the input and card group type is configured as.
        /// â€˜Horizontalâ€™ in cards platform, this API will return all card groups.
        /// configured directly under the payer.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.CardGroupRes response from the API call.</returns>
        public async Task<Models.CardGroupRes> CardgroupsAsync(
                string requestId,
                Models.CardGroupReq body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CardGroupRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/cardgroups")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// <![CDATA[
        /// This operation allows users to fetch audit data of account or card operations performed by users of a given customer.
        /// The audit data includes details of below API operations.
        /// * Order Card .
        /// * Create Card Group .
        /// * PIN reminder .
        /// * Move Cards .
        /// * Update Card Status .
        /// * Update Card Group .
        /// * Auto renew .
        /// * Bulk card order .
        /// * Bulk card block .
        /// * Bulk Card Order (Multi Account) .
        /// * BCOSummary .
        /// * BCOMultiAccountSummary .
        /// * BCBSummary .
        /// * Mobile Payment Registration .
        /// * Fund Transfer (Scheduled & Realtime) .
        /// * Delivery Address Update.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: request body.</param>
        /// <returns>Returns the Models.AuditResponse response from the API call.</returns>
        public Models.AuditResponse AuditReport(
                string requestId,
                Models.AuditReq body = null)
            => CoreHelper.RunTask(AuditReportAsync(requestId, body));

        /// <summary>
        /// <![CDATA[
        /// This operation allows users to fetch audit data of account or card operations performed by users of a given customer.
        /// The audit data includes details of below API operations.
        /// * Order Card .
        /// * Create Card Group .
        /// * PIN reminder .
        /// * Move Cards .
        /// * Update Card Status .
        /// * Update Card Group .
        /// * Auto renew .
        /// * Bulk card order .
        /// * Bulk card block .
        /// * Bulk Card Order (Multi Account) .
        /// * BCOSummary .
        /// * BCOMultiAccountSummary .
        /// * BCBSummary .
        /// * Mobile Payment Registration .
        /// * Fund Transfer (Scheduled & Realtime) .
        /// * Delivery Address Update.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: request body.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.AuditResponse response from the API call.</returns>
        public async Task<Models.AuditResponse> AuditReportAsync(
                string requestId,
                Models.AuditReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.AuditResponse>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/auditreport")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// <![CDATA[
        /// - This operation fetches the International and National Price List and discount values set on pump prices & List Prices.
        /// - It allows searching price list and discount values set on pump prices that are applicable for a given customer .
        /// **Note**: Accounts with cancelled status will not be considered for this operation for the configured .
        /// - When the search is based on customer specific price list then the customer price list is returned based on the associated pricing customer.
        /// - The discount values set on pump prices, which are returned by the operation are always customer specific values based on the customer associated price rules.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Customerdetails request body.</param>
        /// <returns>Returns the Models.CustomerPriceListRes response from the API call.</returns>
        public Models.CustomerPriceListRes CustomerPriceList(
                string requestId,
                Models.CustomerPriceListReq body = null)
            => CoreHelper.RunTask(CustomerPriceListAsync(requestId, body));

        /// <summary>
        /// <![CDATA[
        /// - This operation fetches the International and National Price List and discount values set on pump prices & List Prices.
        /// - It allows searching price list and discount values set on pump prices that are applicable for a given customer .
        /// **Note**: Accounts with cancelled status will not be considered for this operation for the configured .
        /// - When the search is based on customer specific price list then the customer price list is returned based on the associated pricing customer.
        /// - The discount values set on pump prices, which are returned by the operation are always customer specific values based on the customer associated price rules.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Customerdetails request body.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.CustomerPriceListRes response from the API call.</returns>
        public async Task<Models.CustomerPriceListRes> CustomerPriceListAsync(
                string requestId,
                Models.CustomerPriceListReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CustomerPriceListRes>()
              .RequestBuilder(_requestBuilder => _requestBuilder
                  .Setup(HttpMethod.Post, "/customer-management/v1/pricelist")
                  .WithAuth("BearerToken")
                  .Parameters(_parameters => _parameters
                      .Body(_bodyParameter => _bodyParameter.Setup(body))
                      .Header(_header => _header.Setup("RequestId", requestId))
                      .Header(_header => _header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(_responseHandler => _responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (_reason, _context) => new ErrorObjectException(_reason, _context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (_reason, _context) => new ErrorObjectException(_reason, _context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}