// <copyright file="TransactionController.cs" company="APIMatic">
// ShellDataReportingAPIs.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using ShellDataReportingAPIs.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace ShellDataReportingAPIs.Standard.Controllers
{
    /// <summary>
    /// TransactionController.
    /// </summary>
    public class TransactionController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionController"/> class.
        /// </summary>
        internal TransactionController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria and supports paging. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///   .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        /// 1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        /// 4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// This operation can fetch transactions that are old up to 24 (configurable) months. However, the date range between any of the ‘From’ and ‘To’ dates in the above combination cannot be more than 210 (configurable) days.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Priced Transaction Request Body.</param>
        /// <returns>Returns the Models.PricedTransactionRes response from the API call.</returns>
        public Models.PricedTransactionRes PricedTransactions(
                string requestId,
                Models.PriceTransactionReq body = null)
            => CoreHelper.RunTask(PricedTransactionsAsync(requestId, body));

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria and supports paging. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///   .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        /// 1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        /// 4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// This operation can fetch transactions that are old up to 24 (configurable) months. However, the date range between any of the ‘From’ and ‘To’ dates in the above combination cannot be more than 210 (configurable) days.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Priced Transaction Request Body.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.PricedTransactionRes response from the API call.</returns>
        public async Task<Models.PricedTransactionRes> PricedTransactionsAsync(
                string requestId,
                Models.PriceTransactionReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PricedTransactionRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/pricedtransaction")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Pricedtransaction400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Pricedtransaction401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Pricedtransaction403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Pricedtransaction404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Pricedtransaction500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API returns the transaction summary data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria. .
        /// The API also supports returning Fee Items. Transactions posted for fee items that are in error are not included in the summary.
        /// The endpoint supports the exact same search criteria as the endpoint *transaction/prciedtransactions*.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///   .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        ///  1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        ///  4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: PricedSummary RequestBody.</param>
        /// <returns>Returns the Models.PricedTransSummaryResp response from the API call.</returns>
        public Models.PricedTransSummaryResp PricedTransactionsSummary(
                string requestId,
                Models.PriceTransSummaryReq body = null)
            => CoreHelper.RunTask(PricedTransactionsSummaryAsync(requestId, body));

        /// <summary>
        /// This API returns the transaction summary data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria. .
        /// The API also supports returning Fee Items. Transactions posted for fee items that are in error are not included in the summary.
        /// The endpoint supports the exact same search criteria as the endpoint *transaction/prciedtransactions*.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///   .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        ///  1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        ///  4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: PricedSummary RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.PricedTransSummaryResp response from the API call.</returns>
        public async Task<Models.PricedTransSummaryResp> PricedTransactionsSummaryAsync(
                string requestId,
                Models.PriceTransSummaryReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PricedTransSummaryResp>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/pricedtransactionssummary")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Pricedtransactionssummary400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Pricedtransactionssummary401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Pricedtransactionssummary403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Pricedtransactionssummary404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Pricedtransactionssummary500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items) for multiple payers. It provides a flexible search criteria and supports paging. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// At least one payer should be provided. Multiple payers must belong to the same payer group.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions for multiple payers.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///   * Get sales items only for multiple payers.
        ///     * Search by transaction location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by fuel only transactions.
        ///  .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        ///  1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        ///  4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: MultiPayer RequestBody.</param>
        /// <returns>Returns the Models.MultiPricedTransactionRes response from the API call.</returns>
        public Models.MultiPricedTransactionRes MultipricedTransactions(
                string requestId,
                Models.MultiPricedTransactionReq body = null)
            => CoreHelper.RunTask(MultipricedTransactionsAsync(requestId, body));

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items) for multiple payers. It provides a flexible search criteria and supports paging. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// At least one payer should be provided. Multiple payers must belong to the same payer group.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions for multiple payers.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///   * Get sales items only for multiple payers.
        ///     * Search by transaction location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by fuel only transactions.
        ///  .
        ///  This API fetches transactions for a period based on the below parameters and priority order:.
        ///  1.    InvoiceNumber.
        ///  2.    InvoiceDate.
        ///  3.    FromDate, ToDate.
        ///  4.    PostingFromDate, PostingToDate (Can be used only when IncludeFees = false).
        ///  5.    InvoiceDateFrom, InvoiceDateTo.
        ///  6.    Period.
        ///  This API considers only one of the above set of parameters at a time. For example, if InvoiceNumber and Period are provided in the input then Period is ignored and transactions associated to the given invoice number are returned.
        /// If none of the above parameters are provided then last 7 days transactions will be fetched.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: MultiPayer RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.MultiPricedTransactionRes response from the API call.</returns>
        public async Task<Models.MultiPricedTransactionRes> MultipricedTransactionsAsync(
                string requestId,
                Models.MultiPricedTransactionReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.MultiPricedTransactionRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/multipayerspricedtransactions")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Multipayerspricedtransactions400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Multipayerspricedtransactions401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Multipayerspricedtransactions403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Multipayerspricedtransactions404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Multipayerspricedtransactions500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// <![CDATA[
        /// This operation is to provide the expenditure analysis for a card for the past 7 months.
        /// The response contains a daily summary of the transactions (billed & unbilled) from 1st of the last 7 months for the requested card grouped by card, site-group and product.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Card Usage Summary RequestBody.</param>
        /// <returns>Returns the Models.CardUsageSummaryRes response from the API call.</returns>
        public Models.CardUsageSummaryRes CardUsageSummary(
                string requestId,
                Models.CardUsageSummaryReq body = null)
            => CoreHelper.RunTask(CardUsageSummaryAsync(requestId, body));

        /// <summary>
        /// <![CDATA[
        /// This operation is to provide the expenditure analysis for a card for the past 7 months.
        /// The response contains a daily summary of the transactions (billed & unbilled) from 1st of the last 7 months for the requested card grouped by card, site-group and product.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Card Usage Summary RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.CardUsageSummaryRes response from the API call.</returns>
        public async Task<Models.CardUsageSummaryRes> CardUsageSummaryAsync(
                string requestId,
                Models.CardUsageSummaryReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CardUsageSummaryRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/cardusagesummary")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Cardusagesummary400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Cardusagesummary401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Cardusagesummary403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Cardusagesummary404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Cardusagesummary500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// - This API provides the details of the bonus and/or association bonus rules setup for the given payer and that are active on the current date.
        /// - This API also returns the details of the monthly breakup of current period consumption as well as the details of the previously calculated bonus and consumption of the applicable payers.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: VolumeBasedBonus RequestBody.</param>
        /// <returns>Returns the Models.VolumeBasedBonusRes response from the API call.</returns>
        public Models.VolumeBasedBonusRes VolumeBasedBonus(
                string requestId,
                Models.VolumeBasedBonusReq body = null)
            => CoreHelper.RunTask(VolumeBasedBonusAsync(requestId, body));

        /// <summary>
        /// - This API provides the details of the bonus and/or association bonus rules setup for the given payer and that are active on the current date.
        /// - This API also returns the details of the monthly breakup of current period consumption as well as the details of the previously calculated bonus and consumption of the applicable payers.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: VolumeBasedBonus RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.VolumeBasedBonusRes response from the API call.</returns>
        public async Task<Models.VolumeBasedBonusRes> VolumeBasedBonusAsync(
                string requestId,
                Models.VolumeBasedBonusReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.VolumeBasedBonusRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/volumebasedbonus")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Volumebasedbonus400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Volumebasedbonus401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Volumebasedbonus403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Volumebasedbonus404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Volumebasedbonus500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// - This API will return the details of the in arrear fee rule applied to the payer along with details of locations, products, tiers as applied.  .
        /// - It will also show historical and current volume consumption and related tier applied for the following month.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: VolumeBasedPricing RequestBody.</param>
        /// <returns>Returns the Models.VolumeBasedPricingRes response from the API call.</returns>
        public Models.VolumeBasedPricingRes VolumeBasedPricing(
                string requestId,
                Models.VolumeBasedPricingReq body = null)
            => CoreHelper.RunTask(VolumeBasedPricingAsync(requestId, body));

        /// <summary>
        /// - This API will return the details of the in arrear fee rule applied to the payer along with details of locations, products, tiers as applied.  .
        /// - It will also show historical and current volume consumption and related tier applied for the following month.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: VolumeBasedPricing RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.VolumeBasedPricingRes response from the API call.</returns>
        public async Task<Models.VolumeBasedPricingRes> VolumeBasedPricingAsync(
                string requestId,
                Models.VolumeBasedPricingReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.VolumeBasedPricingRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/volumebasedpricing")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Volumebasedpricing400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Volumebasedpricing401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Volumebasedpricing403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Volumebasedpricing404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Volumebasedpricing500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API returns the fee/charges levied from a  customer's account in a billing period or date range. The API returns both billed and unbilled fee items.  .
        /// To get the summary of charges, the endpoint *transaction/feessummary* should be called with the same input criteria.
        /// #### Supported operations.
        ///   * Get fees by invoice status.
        ///   * Get fees by date period.
        ///   * Get fees by account.
        ///   * Get fees by card Id or PAN.
        ///   * Get fees by fee type charges.
        ///   * Get fees including cancelled items.
        ///   * Get fees by line item description.
        ///   * Get fees by product.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Transaction Fees RequestBody.</param>
        /// <returns>Returns the Models.TransactionFeesRes response from the API call.</returns>
        public Models.TransactionFeesRes Fees(
                string requestId,
                Models.TransactionFeesReq body = null)
            => CoreHelper.RunTask(FeesAsync(requestId, body));

        /// <summary>
        /// This API returns the fee/charges levied from a  customer's account in a billing period or date range. The API returns both billed and unbilled fee items.  .
        /// To get the summary of charges, the endpoint *transaction/feessummary* should be called with the same input criteria.
        /// #### Supported operations.
        ///   * Get fees by invoice status.
        ///   * Get fees by date period.
        ///   * Get fees by account.
        ///   * Get fees by card Id or PAN.
        ///   * Get fees by fee type charges.
        ///   * Get fees including cancelled items.
        ///   * Get fees by line item description.
        ///   * Get fees by product.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Transaction Fees RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.TransactionFeesRes response from the API call.</returns>
        public async Task<Models.TransactionFeesRes> FeesAsync(
                string requestId,
                Models.TransactionFeesReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionFeesRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/fees")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Fees400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Fees401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Fees403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Fees404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Fees500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API returns the summary data of the fee/charges levied from a customer's account in a billing period or date range. The API returns both billed and unbilled fee items. .
        /// The endpoint supports the exact same search criteria as the endpoint *transaction/feessummary*.
        /// #### Supported operations.
        ///   * Get fees by invoice status.
        ///   * Get fees by date period.
        ///   * Get fees by account.
        ///   * Get fees by card Id or PAN.
        ///   * Get fees by fee type charges.
        ///   * Get fees including cancelled items.
        ///   * Get fees by line item description.
        ///   * Get fees by product.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: FeeSummary RequestBody.</param>
        /// <returns>Returns the Models.FeeSummaryResponse response from the API call.</returns>
        public Models.FeeSummaryResponse FeeSummaryResponse(
                string requestId,
                Models.TransactionFeesSummaryReq body = null)
            => CoreHelper.RunTask(FeeSummaryResponseAsync(requestId, body));

        /// <summary>
        /// This API returns the summary data of the fee/charges levied from a customer's account in a billing period or date range. The API returns both billed and unbilled fee items. .
        /// The endpoint supports the exact same search criteria as the endpoint *transaction/feessummary*.
        /// #### Supported operations.
        ///   * Get fees by invoice status.
        ///   * Get fees by date period.
        ///   * Get fees by account.
        ///   * Get fees by card Id or PAN.
        ///   * Get fees by fee type charges.
        ///   * Get fees including cancelled items.
        ///   * Get fees by line item description.
        ///   * Get fees by product.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: FeeSummary RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.FeeSummaryResponse response from the API call.</returns>
        public async Task<Models.FeeSummaryResponse> FeeSummaryResponseAsync(
                string requestId,
                Models.TransactionFeesSummaryReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FeeSummaryResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/feessummary")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Feessummary400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Feessummary401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Feessummary403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Feessummary404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Feessummary500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// <![CDATA[
        /// - This API returns the customer an overview of how many transactions, how much fuel volume used over a given period and the total volume used by a card .
        /// - This operation response will contains card & transaction details for given period aggregated by payer, account, cardGroup, PAN, DriverName and VRN.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: FuelConsumption RequestBody.</param>
        /// <returns>Returns the Models.FuelConsumptionResponse response from the API call.</returns>
        public Models.FuelConsumptionResponse FuelConsumption(
                string requestId,
                Models.FuelConsumptionReq body = null)
            => CoreHelper.RunTask(FuelConsumptionAsync(requestId, body));

        /// <summary>
        /// <![CDATA[
        /// - This API returns the customer an overview of how many transactions, how much fuel volume used over a given period and the total volume used by a card .
        /// - This operation response will contains card & transaction details for given period aggregated by payer, account, cardGroup, PAN, DriverName and VRN.
        /// ]]>
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: FuelConsumption RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.FuelConsumptionResponse response from the API call.</returns>
        public async Task<Models.FuelConsumptionResponse> FuelConsumptionAsync(
                string requestId,
                Models.FuelConsumptionReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FuelConsumptionResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/fuelconsumption")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Fuelconsumption400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Fuelconsumption401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Fuelconsumption403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Fuelconsumption404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Fuelconsumption500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// - This API allows the users to update the odometer readings on the sales items (transaction data) .
        /// - This is an asynchronous operation. If opted, the user will be notified on completion of processing.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: updateOdometer RequestBody.</param>
        /// <returns>Returns the Models.UpdateOdometerResp response from the API call.</returns>
        public Models.UpdateOdometerResp UpdateOdometer(
                string requestId,
                Models.UpdateOdometerRequest body = null)
            => CoreHelper.RunTask(UpdateOdometerAsync(requestId, body));

        /// <summary>
        /// - This API allows the users to update the odometer readings on the sales items (transaction data) .
        /// - This is an asynchronous operation. If opted, the user will be notified on completion of processing.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: updateOdometer RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.UpdateOdometerResp response from the API call.</returns>
        public async Task<Models.UpdateOdometerResp> UpdateOdometerAsync(
                string requestId,
                Models.UpdateOdometerRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.UpdateOdometerResp>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/updateodometer")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Updateodometer400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Updateodometer401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Updateodometer403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Updateodometer404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Updateodometer500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// - This API provides the details of the Cards or Transaction related exceptions based on the given conditions for the Requested period.
        /// - This API will return the Transactions related exceptions when the OutputType input parameter is passed as ‘Transaction’ else will return the Cards related exceptions.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Transaction Exceptions RequestBody.</param>
        /// <returns>Returns the Models.TransactionExceptionsRes response from the API call.</returns>
        public Models.TransactionExceptionsRes TransactionExceptions(
                string requestId,
                Models.TransactionExceptionsReq body = null)
            => CoreHelper.RunTask(TransactionExceptionsAsync(requestId, body));

        /// <summary>
        /// - This API provides the details of the Cards or Transaction related exceptions based on the given conditions for the Requested period.
        /// - This API will return the Transactions related exceptions when the OutputType input parameter is passed as ‘Transaction’ else will return the Cards related exceptions.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Transaction Exceptions RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.TransactionExceptionsRes response from the API call.</returns>
        public async Task<Models.TransactionExceptionsRes> TransactionExceptionsAsync(
                string requestId,
                Models.TransactionExceptionsReq body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.TransactionExceptionsRes>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/exceptions")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Exceptions400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Exceptions401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Exceptions403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Exceptions404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Exceptions500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This endpoint allows querying last 48 hours of transaction data of Shell Card (i.e. Priced, Billed, Unbilled etc. sales items). It provides a flexible search criteria and supports pagination. E.g., if the request is made at 08:30 AM on 18 Aug 2022 then transactions until 16 Aug 2022 08:30 AM (including) can be retrieved.
        /// #### Supported operations.
        ///     * Search by Date and Time range (within the last 48 hours only).
        ///     * Search by Payer and/or Account number.
        ///     * Search by Card.
        ///     * Search by Purchased Country.
        ///     * Search by Transaction posting date.
        ///     * Search by Driver Name or Vehicle registration number.
        ///     * Search by Fuel only transactions.
        ///     * Search by Product and/or Product group.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: New Recent Transaction RequestBody.</param>
        /// <returns>Returns the Models.RecentTransactionsResponse response from the API call.</returns>
        public Models.RecentTransactionsResponse RecentTransactionsNew(
                string requestId,
                Models.RecentTransactionRequest body = null)
            => CoreHelper.RunTask(RecentTransactionsNewAsync(requestId, body));

        /// <summary>
        /// This endpoint allows querying last 48 hours of transaction data of Shell Card (i.e. Priced, Billed, Unbilled etc. sales items). It provides a flexible search criteria and supports pagination. E.g., if the request is made at 08:30 AM on 18 Aug 2022 then transactions until 16 Aug 2022 08:30 AM (including) can be retrieved.
        /// #### Supported operations.
        ///     * Search by Date and Time range (within the last 48 hours only).
        ///     * Search by Payer and/or Account number.
        ///     * Search by Card.
        ///     * Search by Purchased Country.
        ///     * Search by Transaction posting date.
        ///     * Search by Driver Name or Vehicle registration number.
        ///     * Search by Fuel only transactions.
        ///     * Search by Product and/or Product group.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: New Recent Transaction RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.RecentTransactionsResponse response from the API call.</returns>
        public async Task<Models.RecentTransactionsResponse> RecentTransactionsNewAsync(
                string requestId,
                Models.RecentTransactionRequest body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RecentTransactionsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/recent")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Recent400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Recent401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Recent403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Recent404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Recent500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria and supports paging. .
        /// The version 2 is an enhancement to the version 1 where EV transactions and their details are added in the response. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///  * EV transaction details - Below are EV specific parameters.
        ///     * EVOperator.
        ///     * EVSerialId.
        ///     * EVChargePointSerial.
        ///     * EVChargePointConnectorType.
        ///     * EVChargePointConnectorTypeDescription.
        ///     * EVChargeDuration.
        ///     * EVChargeStartDate.
        ///     * EVChargeStartTime.
        ///     * EVChargeEndDate.
        ///     * EVChargeEndTime.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Priced TransactionV2 RequestBody.</param>
        /// <returns>Returns the Models.PricedTransactionResponseV2 response from the API call.</returns>
        public Models.PricedTransactionResponseV2 PricedTransactionsV2(
                string requestId,
                Models.PricedTransactionRequestV2 body = null)
            => CoreHelper.RunTask(PricedTransactionsV2Async(requestId, body));

        /// <summary>
        /// This API allows querying transaction data (i.e. Priced, Billed and Unbilled sales items). It provides a flexible search criteria and supports paging. .
        /// The version 2 is an enhancement to the version 1 where EV transactions and their details are added in the response. .
        /// Transactions that are posted but not yet priced, billed or that are in error will not be returned by this API. The API also supports returning Fee Items.
        /// #### Supported operations.
        ///   * Get sales items and fee transactions.
        ///     * Search by invoice status.
        ///     * Search by fixed date period.
        ///     * Search by date range.
        ///     * Search by account.
        ///     * Search by card.
        ///   * Get sales items only.
        ///     * Search by transaction Id or location.
        ///     * Search by transaction posting date.
        ///     * Search by invoice number or date.
        ///     * Search by driver name or vehicle registration number.
        ///     * Search by card group.
        ///     * Search by fuel only transactions.
        ///     * Search by product.
        ///  * EV transaction details - Below are EV specific parameters.
        ///     * EVOperator.
        ///     * EVSerialId.
        ///     * EVChargePointSerial.
        ///     * EVChargePointConnectorType.
        ///     * EVChargePointConnectorTypeDescription.
        ///     * EVChargeDuration.
        ///     * EVChargeStartDate.
        ///     * EVChargeStartTime.
        ///     * EVChargeEndDate.
        ///     * EVChargeEndTime.
        /// </summary>
        /// <param name="requestId">Required parameter: Mandatory UUID (according to RFC 4122 standards) for requests and responses. This will be played back in the response from the request..</param>
        /// <param name="body">Optional parameter: Priced TransactionV2 RequestBody.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.PricedTransactionResponseV2 response from the API call.</returns>
        public async Task<Models.PricedTransactionResponseV2> PricedTransactionsV2Async(
                string requestId,
                Models.PricedTransactionRequestV2 body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PricedTransactionResponseV2>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/transaction-data/v1/priced")
                  .WithAuth("BearerToken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("RequestId", requestId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).", (errorReason, context) => new TransactionDataV1Priced400ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("The request has not been applied because it lacks valid  authentication credentials for the target resource.", (errorReason, context) => new TransactionDataV1Priced401ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Forbidden", (errorReason, context) => new TransactionDataV1Priced403ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.", (errorReason, context) => new TransactionDataV1Priced404ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("The server encountered an unexpected condition that  prevented it from fulfilling the request.", (errorReason, context) => new TransactionDataV1Priced500ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}